@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"].phone::-webkit-inner-spin-button,
    input[type="number"].phone::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .headline {
        font-size: 32px;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: -0.02em;
    }

    @media (min-width: 768px) {
        .headline {
            font-size: 44px;
        }
    }

    @media (min-width: 1024px) {
        .headline {
            font-size: 65px;
        }
    }
}
